* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#navbar {
  gap: 15px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 400px;
  padding: 10px 5px;
}

input,
button {
  height: 30px;
}

button {
  padding: 0px 3px;
}

#grid-container {
  height: 650px;
  width: 650px;
  display: grid;
  gap: 1px;
  background-color: black;
  border: 3px solid black;
  margin: 0 auto;
}

#size {
  background-color: black;
}

.box {
  background-color: white;
}

.footer {
  text-align: center;
}
