@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Roboto";
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#navbar {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 5px;
  background-color: lightgrey;
  border-radius: 4px;
  width: 400px;
}

#grid-settings {
  display: flex;
  gap: 15px;
  align-items: center;
}

#color-options {
  display: flex;
  gap: 15px;
}

img {
  height: 27px;
  width: 45px;
}

input,
button {
  height: 30px;
}

button {
  padding: 0px 3px;
}

#grid-container {
  height: 650px;
  width: 650px;
  display: grid;
  gap: 1px;
  background-color: black;
  border: 3px solid black;
  margin: 0 auto;
}

#size {
  background-color: black;
}

.box {
  background-color: white;
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}
